<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4 mx-5">
    {% for product in products %}

        <div class="col">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{product.name}}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title"><img src="{{ catalog.photos.url }}" alt="Фото"></h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ product.description|truncatechars:100 }}</li>
                    </ul>
                    <a type="button" class="btn btn-lg btn-block btn-outline-primary" href="/products_view/{{product.id}}/">Купить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>