{% extends 'catalog/base.html' %}

{% block title %}Skystore{% endblock %}

{% block content %}

{% include 'catalog/header.html' %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
</div>

<div class="container">
    <div class="row text-start">
        <div class="col">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    {% if object %}
                    <h4 class="my-0 font-weight-normal">Изменить информацтю о товаре</h4>
                    {% else %}
                    <h4 class="my-0 font-weight-normal">Добавить новый товар</h4>
                    {% endif %}
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" class="form-floating">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary mt-3">
                            {% if object %}
                            Сохранить изменения
                            {% else %}
                            Сохранить
                            {% endif %}
                        </button>
                        <a type="button" class="btn btn-lg btn-block btn-outline-primary mt-3" href="{% url 'catalog:home'%}" >Отмена</a>
                        {% if object %}
                        <a type="button" class="d-grid justify-content-md-end " href="{% url 'catalog:product_delete' product.pk%}" >Удалить товар из каталога</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}